<title>Daftar Gate</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<h1>Daftar Gate Yang Tersedia:</h1>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<% var i = 0 %>
<table class="table table-hover">
	<thead class="thead-light">
		<tr>
			<th scope="col">ID Gate</th>
			<th scope="col">Jam Buka</th>
			<th scope="col">Jam Tutup</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
<tbody>
	<% posts.forEach(function(posts){ %>
	<tr>
		<td><%= posts.id_gate %></td>
		<td><%= posts.jam_buka %> </td>
		<td><%= posts.jam_tutup %> </td>
		<td><a href="/allgate/<%= posts.id_gate %>">Profil</a> &#8226 <a href="/allgate/<%= posts.id_gate %>/del">Delete</a></td>
	</tr>
	<% }) %>
</tbody>
</table>